<section class="social">
  <a id="linkedin" target="_blank" href="{{ site.social.linkedin }}" data-ga-category="social-footer-links" data-ga-label="Linkedin">
    <svg class="icon link"><use xlink:href="#logo-linkedin"/></svg>
  </a>
  <a id="twitter" target="_blank" href="{{ site.social.twitter }}" data-ga-category="social-footer-links" data-ga-label="Twitter">
    <svg class="icon link"><use xlink:href="#logo-twitter"/></svg>
  </a>
  <a id="facebook" target="_blank" href="{{ site.social.facebook }}" data-ga-category="social-footer-links" data-ga-label="Facebook">
    <svg class="icon link"><use xlink:href="#logo-facebook"/></svg>
  </a>
</section>