
@mixin animated($time:.3s) {
  -webkit-animation-duration: $time;
  animation-duration: $time;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes spin{
  0%{
    transform: rotate(0deg)
  }
  100%{
    transform: rotate(360deg)
  }
}

@mixin fadeInUp {
  @include animated();
  animation-name: fadeInUp;
}

.fadeInUp {
  @include fadeInUp();
}


@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@mixin fadeInDown {
  @include animated();
  animation-name: fadeInDown;
}

.fadeInDown {
  @include fadeInDown();
}

.animation-delay-short {
  animation-delay: .15s;
}
.animation-delay-long {
  animation-delay: .3s;
}

.animation-slow {
  @include animated(.8s);
}