.footer {

}
.social {
  @include outer-container();
  margin: $spacing-loose 0;

  a{
    @include span-columns(4 of 12);
    text-align: center;

    &:hover .icon {
      fill: $c-hover;
    }
  }
}

@include media-min($screen-medium) {
  .social {
    @include span-columns(3 of 12);
  }
}