.site-header {
  font-weight: 400;
  font-size: $font-large;
}

.logo {
  display: inline-block;
  margin: $spacing 0;
}

.menu-title {
  color: $c-white;
  display: none;
  font-weight: 300;
  line-height: 1em;
  margin: 0;
  position: absolute;

  &.nav-mobile {
    display: inline;
    text-align: left;
    top: $spacing;
    left: $spacing;
  }
}
.btn-menu {
  background: transparent;
  border: 1px solid $c-gray300;
  border-radius: $radius;
  color: $c-link;
  display: table;
  padding: $spacing-tighter;
  position: absolute;
  top: $spacing-tight;
  right: $spacing;

  .icon {
    margin-top: -4px;
  }

  &:hover {
    background: $c-gray200;
  }
}
.nav-main{
  @include display(flex);
  display: none;

  li:first-child a {
    margin-left: 0;
  }
  li:last-child a {
    margin-right: 0;
  }

  a{
    display: block;
    margin: 0 $spacing-tight;
    padding: $spacing-tight 0;
  }

  .show {
    display: block;
  }

  &.nav-mobile {
    display: block;
    left: 0;
    text-align: center;
    width: 100%;

    ul {
      padding-top: $spacing-loosest;
    }

    li {
      display: block !important;
    }
    a {
      margin: 0;

      &:hover {
        background: $c-brand;
        color: $c-white;
      }
    }
  }
}

@include media-min($screen-medium){
  .nav-main {
    display: block;
    position: absolute;
    top: 0;
    right: $spacing;

    li {
      display: inline-block;
    }
    a{
      padding: $spacing 0;
    }
  }
}