// HEADER

.page-content {
  margin-top: 4rem;
}

.logo {

  &:before,
  &:after {
    transform: scale(2, 0.5);
  }
  &:before {
    content: 'OO';
  }

  &:after {
    content: 'OO';
  }


  &:hover {

    &:before,
    &:after {
      @include animated();
      transform: scale(1);
    }

    &:before {
      content: 'H';
    }

    &:after {
      content: 'ME';
    }
  }
}