/* MIXINS.SCSS */
// See Mixins available at http://bourbon.io/docs/
// If you need some more, add 'em below...



// B
@mixin box-shadow($top: 1px, $left: 0, $blur: 3px, $color: $c-gray300, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin btn($btn_bg: $c-link, $outline: true, $ghost: false){
  background: $btn_bg;
  border-radius: $radius;
  display: block;
  margin: 0 auto;
  min-width: 200px;
  width: 200px;
  padding: $spacing-tight;

  @if $outline{
    border: 1px solid $c-white;
  }

  @if $ghost{
    background: $c-white;
    background: transparentize($c-white, .8);
  }

  &:hover{
    background: lighten($btn_bg, 10%);
    cursor: pointer;
  }
}


// D

@mixin debug($color : red){
  background: yellow !important;
  border: 1px solid $color;
}


// M

@mixin media-min($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}
@mixin media-max($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}
