/*
SIZES AND MEDIA QUERIES
*/

$golden-rule:           1.61803399;

$radius:                4px;

$screen-small:          480px;
$screen-medium:         768px;
$screen-large:          960px;
$screen-larger:         1024px;

/*
COLORS
*/

// Some base colors to get us started

$c-black:               #000;
$c-white:               #fff;

$c-gray800:             lighten($c-black, 2%);
$c-gray700:             lighten($c-black, 20%);
$c-gray600:             lighten($c-black, 34%);
$c-gray500:             lighten($c-black, 50%);
$c-gray400:             lighten($c-black, 66%);
$c-gray300:             lighten($c-black, 82%);
$c-gray200:             lighten($c-black, 96%);

$c-gray:                $c-gray500;

$c-brand:               #005F6B;

// Colors with purpose

$c-text:                $c-gray800;

$c-link:                #00B4CC;
$c-visited:             $c-link;
$c-hover:               darken($c-link, 15%);
$c-active:              darken($c-link, 15%);

$c-icon:                $c-gray;

$c-state-warning:       #F5F4D7;
$c-state-error:         #faa;
$c-state-success:       #faa;

$c-highlight:           #f4ff6f;

/*
FONTS & TYPOGRAPHY
*/

$font-nrml-size:        1em;
$font-small:            $font-nrml-size/1.2; // Golden rule is too much here
$font-smaller:          $font-small/1.2;
$font-smallest:         $font-smaller/1.2;
$font-large:            $font-nrml-size*1.3;
$font-larger:           $font-large*1.3;
$font-largest:          $font-larger*1.3;

$font-weight-light:     300;
$font-weight-normal:    400;
$font-weight-medium:    500;


/*
SPACING
*/
$spacing-tightest:      4px;
$spacing-tighter:       8px;
$spacing-tight:         16px;
$spacing:               24px;
$spacing-loose:         32px;
$spacing-looser:        48px;
$spacing-loosest:       64px;

$line-height:           $font-nrml-size*$golden-rule;

// 1260px as ems
$max-width:             78.75rem;