---
layout: compress
---
<!DOCTYPE html>
<html class="no-js" lang="en">

{% include head.html %}

<body {% if page.id %}class="{{ page.id }}"{% endif %}>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

{% include header.html %}

<main>
  <div class="page-content">
    <div class="wrapper">
      {{ content }}
    </div>
  </div>
</main>

{% include footer.html %}

</body>

</html>
